@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.caps { text-transform: capitalize; }
.upper { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { -webkit-transition: 1s all ease; -o-transition: 1s all ease; transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.banner {
  padding: 50px 0;
  position: relative;
  background: url('../Images/hero_background.jpg') no-repeat center center/cover;
}

.banner h1 {
  width: 10%;
  padding-left: 10%;
}

.disable { display: none; }

.slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.slider-wrapper .active{
  padding: 51px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.previous,
.next {
  position: relative;
  top: 35%;
  -webkit-transform: translateY(35%);
  -ms-transform: translateY(35%);
  transform: translateY(35%);
  color: transparent;
}

.previous { background: url('../Images/arrows_sprite.png') no-repeat 0 0; }
.next { background: url('../Images/arrows_sprite.png') no-repeat -91px 0; }

h2 {
  padding: 120px 35% 0 8%;
  color: #fff;
  font-size: 45px;
  font-weight: bold;
}

.slider-text {
  padding: 15px 0 21px 8%;
  display: block;
  color: #fff;
  font-size: 14px;
}

.download {
  padding: 16px 35px;
  margin-left: 8%;
  display: inline-block;
  background: #49bae6;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.download:hover {
  color: #49bae6;
  background: #fff;
}

.download:hover::before {
  color: #49bae6;
  opacity: 1;
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  transform: translate(0,0);
}

.download::before {
  content: attr(data-hover);
  position: absolute;
  opacity: 0;
  -webkit-transform: translate(-100%,0);
  -ms-transform: translate(-100%,0);
  transform: translate(-100%,0);
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.download:hover span {
  opacity: 0;
  -webkit-transform: translate(100%,0);
  -ms-transform: translate(100%,0);
  transform: translate(100%,0);
}

.active figure {
  width: 26%;
  padding-right: 6%;
  position: relative;
  z-index: 2;
}
.active figure img {
  width: 100%;
  height: auto;
  display: block;
}

.media-link {
  width: 100%;
  padding: 50px 0;
  position: absolute;
  bottom: 0;
  background-color: rgba(4, 78, 117, 0.3);
}
 
.media-content {
  padding-left: 9.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 10px;
}

.facebook-twitter { padding-left: 25px; }

.facebook {
  padding: 3px 5px;
  background: #fff;
  color: black;
  font-size: 8px;
  border-radius: 2px;
}

.facebook::before {
  color: #3b5998;
  content: "\f082";
  font-family: FontAwesome;
}

.twitter {
  padding: 3px 5px;
  border-radius: 2px;
  background: #fff;
  color: black;
  font-size: 8px;
}

.twitter::before {
  content: "\f099";
  color: #55acee;
  font-family: FontAwesome;
}

.tooltip {
  padding: 3px 5px;
  border-radius: 2px;
  margin-left: 6px;
  background: #fff;
  color: black;
  font-size: 8px;
}

.fb-tooltip::after {
  width: 0;
  height: 0;
  border-width: 4px;
  border-style: solid;
  border-color: transparent #FFFFFF transparent transparent;
  position: absolute;
  top: 54px;
  left: 39.6%;
  content: "";
}

.tw-tooltip::after {
  width: 0;
  height: 0;
  border-width: 4px;
  border-style: solid;
  border-color: transparent #FFFFFF transparent transparent;
  position: absolute;
  top: 54px;
  left: 45.5%;
  content: "";
}

.image-block { background: #2b84b7;}

.image-block ul { 
  padding: 75px 10% 85px 10%; 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
}

.image-block ul li {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  text-align: center;
}

.image-block ul li span { display: block; }

.image-block ul .spaceship,
.image-block ul .liquid {
  padding-right: 6%;
}

.image-block ul .spaceship,
.image-block ul .touch {
  padding-top: 10px;
}

.image-block ul li figure {
  width: 40%;
  margin: 0 auto;
}

.image-block ul .touch figure { width: 39%; }

.image-block ul li span { 
  padding-top: 25px;
  color: #fff;
}

.image-block ul li .big-text {
  font-size: 30px;
  font-weight: bold;
}
.image-block ul li .small-text {
  padding-top: 0;
  font-size: 12px;
  font-weight: 500;
}

.characters{ background: #ecf0f1; }

.characters ul {
  padding: 100px 0 80px 0;
  margin-left: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.characters ul li { 
  margin: 0 30px;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  text-align: center; 
}

.characters ul .dee-dee { padding-right: 3%; }
.characters ul li figure { margin: 0 auto; }
.characters ul .dexter figure { width: 75%; }
.characters ul .dee-dee figure { width: 96%; }
.characters ul .mandark figure { width: 69%; }

.characters ul li figure img {
  width: 100%;
  height: auto;
  display: block;
}

.characters ul li .character,
.characters ul li .character-name {
  display: block;
}

.characters ul li .character-name {
  padding-top: 17px;
  font-size: 25px;
  font-weight: bold;
}

.characters ul .dee-dee .character-name, 
.characters ul .mandark .character-name { 
  padding-top: 27px; 
}

.characters ul .dee-dee .character-name,
.characters ul .dee-dee .character,
.characters ul .dee-dee .character-info {
  margin-left: 14%;
}

.characters ul .dee-dee .character-info {
  padding-left: 5px;
  padding-right: 5px;
}

.characters ul li .character {
  padding-top: 17px;
  color: #a5a5a5;
  font-style: italic;
}

.characters ul li p {
  padding: 33px 25px 0 25px;
  color: #a5a5a5;
  font-size: 14px;
}

.btn-block{
  padding-bottom: 50px;
  margin-left: -95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.see-more {
  padding: 16px 35px;
  margin-left: 8%;
  display: inline-block;
  background: #49bae6;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.see-more:hover {
  background: #fff;
  color: #49bae6;
}

.see-more:hover::before {
  color: #49bae6;
  opacity: 1;
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  transform: translate(0,0);
}

.see-more::before {
  content: attr(data-hover);
  position: absolute;
  opacity: 0;
  -webkit-transform: translate(-100%,0);
  -ms-transform: translate(-100%,0);
  transform: translate(-100%,0);
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.see-more:hover span {
  opacity: 0;
  -webkit-transform: translate(100%,0);
  -ms-transform: translate(100%,0);
  transform: translate(100%,0);
}

.share-and-like {
  padding: 45px 0;
  background: #f1c411;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.share-and-like::after {
  content: " \f17d";
  color: #fff;
  font-family: FontAwesome;
}
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer { 
  position: relative;
  background: #d9af0b;
}

.bb {
  position: absolute;
  bottom: 0;
  color: #f1c411;
  font-weight: bolder;
  font-size: 100px;
  z-index: 0;
}

.contact-list {
  padding: 50px 20px;
  margin-left: 9%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  z-index: 5;
}

.contact-list li{ 
  -ms-flex-preferred-size: 30%; 
  flex-basis: 30%; 
}

.contact-list li:first-child { margin-left: 28px; }
.contact-list a { color: #fff; }

.contact-list li ul { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex; 
}

.contact-list li ul li:first-child { 
  -ms-flex-preferred-size: 10%; 
  flex-basis: 10%; 
}

.contact-list li ul li:last-child { -ms-flex-preferred-size: 90%; flex-basis: 90%; }

.mail-icon::before {
  content: "\f0e0";
  font-family: FontAwesome;
  font-weight: bold;
  vertical-align: super;
}

.map-marker::before {
  content: "\f041";
  font-family: FontAwesome;
  font-weight: bold;
}

.skype-icon::before {
  content: "\f17e";
  font-family: FontAwesome;
  font-weight: bold;
}

.skype { margin-left: -40px; }
.big-text-link {
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.small-text-link {
  padding-top: 15px;
  font-size: 14px;
  line-height: 1.5;
}

address { padding-right: 55px;}
.icon-mail li .small-text-link:last-child { padding-top: 0;}

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {
  h2 { padding-right: 15%; }

  .contact-list li { 
    -ms-flex-preferred-size: 35%; 
    flex-basis: 35%; 
  }
  .contact-list { margin-left: 4%; }
}
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  
  .slider-wrapper .active { padding-top: 30px; }
  h2 { font-size: 30px }
  .slider-text { font-size: 10px; }
  .download { padding: 12px 25px; }

  .previous
  .next {
    top: 25%;
    -webkit-transform: translateY(25%);
    -ms-transform: translateY(25%);
    transform: translateY(25%);
  }

  .active figure { width: 25%; }
  .characters ul li p { font-size: 12px; }
  .contact-list { margin-left: 4%; }
}  